

// TTF fonts
@font-face {
  font-family: 'Kalameh';
  src: url('../fonts/TTF/subset-Kalameh-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('../fonts/TTF/subset-Kalameh-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('../fonts/TTF/subset-Kalameh-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('../fonts/TTF/subset-Kalameh-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('../fonts/TTF/subset-Kalameh-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('../fonts/TTF/subset-Kalameh-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('../fonts/TTF/subset-Kalameh-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('../fonts/TTF/subset-Kalameh-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kalameh';
  src: url('../fonts/TTF/subset-Kalameh-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// TTF fonts

// woff fonts
@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff/subset-KalamehWeb-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff/subset-KalamehWeb-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff/subset-KalamehWeb-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff/subset-KalamehWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff/subset-KalamehWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff/subset-KalamehWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff/subset-KalamehWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff/subset-KalamehWeb-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff/subset-KalamehWeb-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

// woff fonts

// woff 2 fonts
@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff2/subset-KalamehWeb-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff2/subset-KalamehWeb-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff2/subset-KalamehWeb-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff2/subset-KalamehWeb-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff2/subset-KalamehWeb-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff2/subset-KalamehWeb-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff2/subset-KalamehWeb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff2/subset-KalamehWeb-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KalamehWeb';
  src: url('../fonts/woff2/subset-KalamehWeb-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

// woff 2 fonts

// programme english font
@font-face {
  font-family: 'Programme';
  src: url('../fonts/programme-ttf/Programme-RegularIta.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Programme';
  src: url('../fonts/programme-ttf/Programme-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Programme';
  src: url('../fonts/programme-ttf/Programme-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Programme';
  src: url('../fonts/programme-ttf/Programme-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Programme';
  src: url('../fonts/programme-ttf/Programme-LightIta.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Programme';
  src: url('../fonts/programme-ttf/Programme-BoldIta.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


// programme english font